{% extends "layout.njk" %}

{% block head%}
<title>Sobre - Alan Martins</title>
<link rel="stylesheet" href="./css/styles.css">
{% endblock %}

{% block content %}

<div id=wrapper>
    <img src="{{about.avartar_url}}" alt="{{about.avartar_name}}" height="200px"/>
    <h1>{{about.nome}}</h1>
    <h2>{{about.job}}</h2>
    <p>{{about.description}}</p>
</div>

{% endblock %}

            