{% extends "layout.njk" %}

{% block head%}
    <title>Habilidades - Alan Martins</title>
    <link rel="stylesheet" href="./css/styles.css">        
    <link rel="stylesheet" href="./css/habilidades.css">
    <link rel="stylesheet" href="./css/bootstrap/bootstrap.css" >
    <link rel="stylesheet" href="./css/bootstrap/bootstrap-grid.css" >
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock%}

{% block content %}

    <div id=wrapper>
        <h1>Habilidades</h1>
    </div>

    <section class="habilidades container-fluid">
        <div class="row" >

            {% for item in items %}

                <div class="habilidade col-md-4 col-sm-6" >
                    <div class="card__image-container">
                        <img class="{{item.class}}" src="{{item.image}}" height="100px" alt="{{item.title}}"/>
                    </div>
                    {% if item.knowledges == "0" %}
                    <div class="estudando">
                            <span style="color:#000"> - Estudando - </span>
                    </div>
                    {% endif%}
                    <div class="habilidade__content">
                        <p>{{item.title}}</p>
                    </div>
                    <div class="habilidade__info" style="display: none">
                        <p>{{item.info}}</p>
                    </div>
                </div>

            {% endfor %}

            
        </div>
    </section>

    <div class="modal-overlay">
        <div class="modalHabilidade">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>

            <header>

            </header>
            <section>

            </section>


        </div>
    </div>

    <script src="./javascript/scripts.js"></script>

{% endblock %}