{% extends "layout.html" %}

{% block head%}
    <title>Habilidades - Alan Martins</title>
    <link rel="stylesheet" href="./css/styles.css">        
    <link rel="stylesheet" href="./css/habilidades.css">
    <link rel="stylesheet" href="./css/bootstrap/bootstrap.css" >
    <link rel="stylesheet" href="./css/bootstrap/bootstrap-grid.css" >
{% endblock%}

{% block content %}

    <div id=wrapper>
        <h1>Habilidades</h1>
    </div>

    <section class="habilidades container-fluid">
        <div class="row" >
            <div class="habilidade col-md-4 col-sm-12" >
                <div class="card__image-container">
                    <img src="/img/asp_net_core_logo.jpg" height="100px" />
                </div>
                <div class="habilidade__content">
                    <p>Asp.Net Core - C#</p>
                </div>
                <div class="habilidade__info">
                    <p>Info</p>
                </div>
            </div>

            <div class="habilidade col-md-4 col-sm-12" >
                <div class="card__image-container">
                    <img src="/img/logo_react_native_js.png" height="100px" />
                </div>
                <div class="habilidade__content">
                    <p>React Native JS</p>
                </div>
                <div class="habilidade__info">
                    <p>Info</p>
                </div>
            </div>

            <div class="habilidade col-md-4 col-sm-12" >
                <div class="card__image-container">
                    <img src="/img/nodejs_logo.png" height="100px" />
                </div>
                <div class="habilidade__content">
                    <p>Node JS</p>
                </div>
                <div class="habilidade__info">
                    <p>Info</p>
                </div>
            </div>

            <div class="habilidade col-md-4 col-sm-12" >
                <div class="card__image-container">
                    <img src="/img/sql_server_logo.png" height="100px" />
                </div>
                <div class="habilidade__content">
                    <p>SQL Server</p>
                </div>
                <div class="habilidade__info">
                    <p>Info</p>
                </div>
            </div>

            <div class="habilidade col-md-4 col-sm-12" >
                <div class="">
                    <img src="/img/html_logo.png" height="100px" />
                </div>
                <div class="habilidade__content">
                    <p>Html</p>
                </div>
                <div class="habilidade__info">
                    <p>Info</p>
                </div>
            </div>

            <div class="habilidade col-md-4 col-sm-12" >
                <div class="">
                    <img src="/img/css_logo.png" height="100px" />
                </div>
                <div class="habilidade__content">
                    <p>Css</p>
                </div>
                <div class="habilidade__info">
                    <p>Info</p>
                </div>
            </div>

            <div class="habilidade col-md-4 col-sm-12" >
                <div class="">
                    <img src="/img/js_logo.png" height="100px" />
                </div>
                <div class="habilidade__content">
                    <p>JavaScript</p>
                </div>
                <div class="habilidade__info">
                    <p>Info</p>
                </div>
            </div>

            <div class="habilidade col-md-4 col-sm-12" >
                <div class="">
                    <img src="/img/git_logo.png" height="100px" />
                </div>
                <div class="habilidade__content">
                    <p>GitHub</p>
                </div>
                <div class="habilidade__info">
                    <p>Info</p>
                </div>
            </div>

            
        </div>
    </section>

{% endblock %}