<!DOCTYPE html>
<html>
    <head>
        
        {% block head%}

        {% endblock%}
        
    </head>
    <body>
        <div class="content">
            <header>
                <div class="links">
                    <a href="/">Sobre</a>
                    <a href="./habilidades">Habilidades</a>
                </div>
            </header>

            {% block content %}

            {% endblock %}

            <footer>
                <div id="links-footer" class="links">
                    <a href="https://github.com/alandlan" target="_blank">GitHub</a>
                    <a href="https://www.linkedin.com/in/alan-martins-38b35799/" target="_blank">LinkedIn</a>
                </div>
            </footer>
        </div>
    </body>
</html>