.card{
    background-color: #fff;
    width: 800px;
    height: 400px;

    margin: 45px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

    border-radius: 20px;

    /*sombra*/
    box-shadow: 40px 40px 20px 20px rgba(0, 0, 0, 0.4);

    /*animação*/
    opacity: 0;
    animation-name: up;
    animation-duration: 700ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-play-state: running;
    /* animation-direction: reverse; */
    /* animation-iteration-count: 3 */
    /* animation-direction: reverse; */
}

@keyframes up{
    0%{
        transform: translateY(30px);
    }
    100%{
        opacity: 1;
    }
}