h1{
    color: #fff;
}
.habilidades{
    margin-bottom: 20px;
}
.habilidade{
    text-align: center;
    cursor: pointer;
}
.habilidade__content{
    margin-top: 10px;
}
.habilidade__content{
    color: #fff;
}
.logoArredondado{
    border-radius: 50px;
}

/* MODAL */
.modal-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modalHabilidade{
    background-color: #fff;
    width: 80%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
    
}

.modalHabilidade .close-modal{
    color: #000;
    position: absolute;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

/* MODAL Active */
.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}

.modalHabilidade header{
    background-color: #fff;
    font-size: 30px;
    border: none;
}

.modalHabilidade section{
    font-size: 24px;
    text-align: center;
}