h1{
    color: #fff;
}
.habilidades{
    margin-bottom: 20px;
}
.habilidade{
    text-align: center;
}
.habilidade__content{
    margin-top: 10px;
}
.card__image-container img{
    border-radius: 50px;
}

.habilidade__content{
    color: #fff;
}

