{% extends "layout.njk" %}

{% block head%}
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
{% endblock%}

    

{% block content %}
    <section class="info">
        <div class="content">
            <div class="slogan">
                <div class="sloganContent">
                    <h3>
                        As melhores receitas
                    </h3>
                    <p>
                        Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
                    </p>
                </div>
            </div>
            <div class="image">
                <img src="./img/chef.png" alt="Chef">
            </div>
        </div>
    </section>

    <section class="produtos">

    </section>
{% endblock %}