<!DOCTYPE html>
    <head>
        {% block head %}
        {% endblock %}
    </head>
    <section class="wrapper">
        <header>
            <div class="headerLogo">
                FoodFy 
            </div>
            <div class="headerItems">
                <a href="">Sobre</a>
                <a href="">Receitas</a>
            </div>
        </header>
        <body>
            {% block content%}
            {% endblock%}
        </body>
        <footer></footer>
    </section>
</html>