<!DOCTYPE html>
    <head>
        {% block head %}
        {% endblock %}
    </head>
    <section class="wrapper">
        <header>
            <div class="headerLogo">
                <a href="/">FoodFy</a> 
            </div>
            <div class="headerItems">
                <a href="./about">Sobre</a>
                <a href="./recipes">Receitas</a>
            </div>
        </header>
        <body>
            {% block content%}
            {% endblock%}
        </body>
        <footer>
            <p class="direct">Todos direitos reservados, receitas Foodfy.</p>
        </footer>
    </section>
</html>