{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/languages.css">

{% endblock head %}

{% block content %}

<div class="card">
    <section class="avatar" style="width:400px; height: 400px; background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1200px-React-icon.svg.png) no-repeat center center / cover">

    </section>
    <section class="details">
        <h2>React Native</h2>

        <div class="item">
            <h5>Conhecimento:</h5></br>
            <span class="item-filho">Avançado</span>
        </div>

        <div class="item">
            <h5>Habilidades:</h5>   
            <ul>
                <li>Redux</li>
                <li>Expo</li>
            </ul>
        </div>
    </section>
</div>



{% endblock content %}
